.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.team-list {
  list-style: none;
}

.team-display-container {
  margin-top: 40px;
}

.app-header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Helvetica, "sans-serif";
}
